<div class="container">
  <%= form_with model: @room do |f| %>
    <div class="form_group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', rows: "2", id: 'post_title' %>
    </div>
    <div class="form_group">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>