<h1>ルーム一覧</h1>
<p>あなたの興味のあるルームにジョインしましょう</p>

<% @rooms.each do |room| %>
  <ul>
    <li><%= link_to room.title, room_path(room) %></li>
    <p><%= link_to 'join', "#", class: 'btn btn-success' %></p>
  </ul>

<% end %>

<%= link_to "新規追加", new_room_path, class: 'btn btn-primary' %>