<h1>ルーム一覧</h1>
<p>あなたの興味のあるルームにジョインしましょう</p>

<% @rooms.each do |room| %>
  <ul>
    <%= link_to room.title, room_path(room) %>
    <li>
      <%= link_to 'join', '#' ,class: 'btn btn-success' %>
    </li>
  </ul>

<% end %>

